Repository clambin/pimon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, pytest, prometheus, build_arm, test_arm

flake8:
  stage: test
  image: python:3.7
  before_script:
  - pip install pipenv
  - pipenv install --dev
  script:
  - pipenv run flake8 --max-line-length 120 *.py metric/*.py

pytest:
  stage: test
  image: python:3.7
  before_script:
  - pip install pipenv
  - pipenv install --dev
  script:
  - pipenv check
  - cd tests && pipenv run pytest --cov
  - pipenv run bash <(curl -s https://codecov.io/bash) -s tests

prometheus:
  stage: test
  image: python:3.7
  before_script:
  - pip install pipenv
  - pipenv install
  script:
  - pipenv run python pimon.py --port 8080 --stub &
  - TESTPID=$!
  - sleep 2
  - curl -s localhost:8080/metric | grep '^pimon_clockspeed '
  - curl -s localhost:8080/metric | grep '^pimon_temperature '
  - kill $TESTPID

build_arm:
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_CLI_EXPERIMENTAL: enabled
  tags:
  - docker
  - shared
  before_script:
  ...

test_arm:
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_CLI_EXPERIMENTAL: enabled
  tags:
  - docker
  - arm
  - rpi
  before_script:
  ...

Monitor plex/sonarr/radarr through API probes
  .gitlab-ci.yml
Due: flake8, pytest, prometheus, build_arm, test_arm

Monitor plex/sonarr/radarr through API probes
  metrics/probe.py
  pimon/cpu.py
  pimon/pimon.py
Due: flake8, pytest, prometheus, build_arm, test_arm

Monitor plex/sonarr/radarr through API probes
  metrics/probe.py
  tests/test_probe.py
Due: flake8, pytest, prometheus, build_arm, test_arm

Monitor plex/sonarr/radarr through API probes
  metrics/probe.py
  pimon/configuration.py
  pimon/mediacentre.py
  pimon/pimon.py
  tests/test_configuration.py
  tests/test_mediacentre.py
  tests/test_pimon.py
Due: flake8, pytest, prometheus, build_arm, test_arm

Monitor plex/sonarr/radarr through API probes
  tests/test_mediacentre.py
Due: flake8, pytest, prometheus

Monitor plex/sonarr/radarr through API probes
  README.md
Due: none

Monitor plex/sonarr/radarr through API probes
  grafana/mediaserver.json
  grafana/watchtower.json
Due: none

Monitor plex/sonarr/radarr through API probes
  README.md
  pimon/configuration.py
  pimon/mediacentre.py
Due: none

Monitor plex/sonarr/radarr through API probes
  pimon/mediacentre.py
Due: none

Share metrics code via PyPi
  metrics/__init__.py
  metrics/probe.py
  pimon/cpu.py
  pimon/gpio.py
  pimon/mediacentre.py
  pimon/openvpn.py
  pimon/pimon.py
  requirements.txt
  tests/test_probe.py
Due: flake8, pytest, prometheus, build_arm, test_arm

Share metrics code via PyPi
  Pipfile
  Pipfile.lock
  pimon/cpu.py
  pimon/gpio.py
  pimon/mediacentre.py
  pimon/openvpn.py
  pimon/pimon.py
Due: none

Share metrics code via PyPi
  Dockerfile
Due: build_arm, test_arm

Share metrics code via PyPi
  .gitlab-ci.yml
  Pipfile.lock
  tests/probes.py
  tests/process_ut.sh
Due: flake8, pytest, prometheus, build_arm, test_arm

Share metrics code via PyPi
  .gitlab-ci.yml
  Pipfile.lock
Due: flake8, pytest, prometheus, build_arm, test_arm

Share metrics code via PyPi
  pimon/cpu.py
  pimon/mediacentre.py
  pimon/pimon.py
  tests/test_pimon.py
Due: flake8, pytest, prometheus

Share metrics code via PyPi
  .gitlab-ci.yml
  Dockerfile
  pimon.py
Due: flake8, pytest, prometheus, build_arm, test_arm

Share metrics code via PyPi
  .gitlab-ci.yml
Due: flake8, pytest, prometheus, build_arm, test_arm

Share metrics code via PyPi
  pimon/pimon.py
  tests/test_mediacentre.py
  tests/test_pimon.py
Due: flake8, pytest, prometheus

Share metrics code via PyPi
  tests/test_pimon.py
Due: flake8, pytest, prometheus

gitlab ci docker caching
  .gitlab-ci.yml
  Pipfile
  Pipfile.lock
Due: flake8, pytest, prometheus, build_arm, test_arm

junit test
  .gitlab-ci.yml
  Dockerfile
Due: flake8, pytest, prometheus, build_arm, test_arm

junit test
  .gitlab-ci.yml
Due: flake8, pytest, prometheus, build_arm, test_arm

junit test
  Pipfile
  Pipfile.lock
  pimon/mediacentre.py
  pimon/pimon.py
  tests/test_mediacentre.py
Due: flake8, pytest, prometheus

v1.2
  pimon/version.py
Due: none

v1.2
  .gitlab-ci.yml
Due: flake8, pytest, prometheus, build_arm, test_arm

bump versions + workaround for pipenv check problem
  .gitlab-ci.yml
  Pipfile.lock
Due: flake8, pytest, prometheus, build_arm, test_arm

bump versions + workaround for pipenv check problem
  .gitlab-ci.yml
Due: flake8, pytest, prometheus, build_arm, test_arm

fix flake8 error
  pimon/configuration.py
Due: none

move gitlab-ci to "rules:"
  .gitlab-ci.yml
  pimon/configuration.py
Due: flake8, pytest, prometheus, build_arm, test_arm

move gitlab-ci to "rules:"
  pimon/configuration.py
Due: none

move gitlab-ci to "rules:"
  .gitlab-ci.yml
Due: flake8, pytest, prometheus, build_arm, test_arm

Path conditions:
  flake8: any of: *.py, metrics/*.py, tests/*.py, .gitlab-ci.yml
  pytest: any of: *.py, metrics/*.py, tests/*.py, .gitlab-ci.yml
  prometheus: any of: *.py, metrics/*.py, tests/*.py, .gitlab-ci.yml
  build_arm: any of: *.py, metrics/*.py, Dockerfile*, .gitlab-ci.yml
  test_arm: any of: *.py, metrics/*.py, Dockerfile*, .gitlab-ci.yml
