Repository clambin/pimon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, pytest, build_arm

.gitlab-ci.yml:

stages:
  - test
  - build
  - release

.test_only:
  only:
    changes:
      - "*.py"
      - "metrics/*.py"

.build_only:
  only:
    changes:
      - "*.py"
      - "metrics/*.py"
      - "Dockerfile*"
      - .gitlab-ci.yml

.docker_build:
  # using 17.12: stable doesn't work on RPI (can't connect to docker socket)
  image: docker:17.12
  services:
    - docker:17.12-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_CLI_EXPERIMENTAL: enabled
  except:
    - tags
  extends: .build_only
  before_script:
    # TODO: wrap TAG logic in a script and call that when needed?
    - export VERSION=$(grep -i ^version version.py | awk '{ print $3 }' | tr -d \');
    - if [[ $CI_COMMIT_REF_NAME == "master" ]]; then
         export TAG=$VERSION;
      elif [[ $CI_COMMIT_REF_NAME == "release-$VERSION" ]]; then
         export TAG="dev-$VERSION";
      else
         export TAG="dev";
      fi
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
    - export CI_PROJECT_PATH=$(echo $CI_PROJECT_PATH | tr "[:upper:]" "[:lower:]")

.docker_build_stable:
  extends: .docker_build
  # and since 'docker manifest' doesn't work on RPI on 17.12, we'll use stable for that
  image: docker:stable
  services:
    - docker:stable-dind

flake8:
  stage: test
  extends: .test_only
  image: python:3.7-alpine
  before_script:
    - python -m venv venv
    - source venv/bin/activate
    - pip install -U flake8
  script:
    - flake8 --max-line-length 120 *.py metric/*.py

pytest:
  stage: test
  extends: .test_only
  image: python:3.7-alpine
  before_script:
    - python -m venv venv
    - source venv/bin/activate
    - pip install pipenv
    - pipenv install
  script:
    - cd tests && pytest

build_arm:
  stage: build
  extends: .docker_build
  tags:
    - docker
    - arm
  script:
    - docker build --pull
                   --cache-from "$CI_PROJECT_PATH":"$TAG"
                   --build-arg BASE_IMAGE=arm32v7/python:3.7-alpine
                   -t "$CI_PROJECT_PATH":"$TAG" .
    - docker push "$CI_PROJECT_PATH":"$TAG"

# smoke test goes here

publish:
  stage: release
  extends: .docker_build
  tags:
    - docker
  only:
    - master
  script:
    - docker tag "$CI_PROJECT_PATH":"$TAG"  "$CI_PROJECT_PATH":latest
    - docker push "$CI_PROJECT_PATH":latest

github:
  stage: release
  only:
    - master
  before_script:
    - export TAG=$(grep -i ^version version.py | awk '{ print $3 }' | tr -d \');
  script:
    - git remote set-url origin "https://$GITHUB_USER:$GITHUB_TOKEN@github.com/$CI_PROJECT_PATH.git"
    - git tag $TAG
    - git push --tags

Smoke test
  .gitlab-ci.yml
Due: build_arm

Add cli param to disable fan monitor
  .gitlab-ci.yml
  pimon.py
Due: flake8, pytest, build_arm

Add cli param to disable fan monitor
  tests/test_pimon.py
Due: none

Add cli param to disable fan monitor
  README.md
  pimon.py
Due: flake8, pytest, build_arm

Add cli param to disable fan monitor
  .gitlab-ci.yml
Due: build_arm

v0.5
  version.py
Due: flake8, pytest, build_arm

Build fix
  .gitlab-ci.yml
Due: build_arm

Non-arm builds running on arm runner?
  .gitlab-ci.yml
Due: build_arm

Trying to run Mac runners in ARM mode
  .gitlab-ci.yml
Due: build_arm

Rework Metric API to handle multiple reporters
  metrics/__init__.py
  metrics/probe.py
  metrics/reporter.py
  tests/test_metric.py
  tests/test_probe.py
  tests/test_promreporter.py
  tests/test_reporter.py
Due: flake8, pytest, build_arm

Rework Metric API to handle multiple reporters
  metrics/probe.py
  metrics/reporter.py
  pimon.py
  tests/test_probe.py
Due: flake8, pytest, build_arm

Rework Metric API to handle multiple reporters
  pimon.py
Due: flake8, pytest, build_arm

Rework Metric API to handle multiple reporters
  metrics/reporter.py
  pimon.py
  tests/test_reporter.py
Due: flake8, pytest, build_arm

Rework Metric API to handle multiple reporters
  metrics/reporter.py
  tests/test_filereporter.py
  tests/test_promreporter.py
Due: flake8, pytest, build_arm

Add logfile file output to pimon
  README.md
  metrics/reporter.py
  pimon.py
  tests/test_filereporter.py
  tests/test_pimon.py
Due: flake8, pytest, build_arm

Add logfile file output to pimon
  pimon.py
Due: flake8, pytest, build_arm

Add logfile file output to pimon
  .gitlab-ci.yml
Due: build_arm

Use qemu to build ARM images
  .gitlab-ci.yml
  Dockerfile
Due: build_arm

Use qemu to build ARM images
  .gitlab-ci.yml
Due: build_arm

docker-stable on RPi
  .gitlab-ci.yml
Due: build_arm

add test for prometheus
  .gitlab-ci.yml
Due: build_arm

add unittest for prometheus
  metrics/probe.py
  metrics/reporter.py
  pimon.py
Due: flake8, pytest, build_arm

Copy/paste fix
  .gitlab-ci.yml
Due: build_arm

Integrate codecov
  .gitlab-ci.yml
  Pipfile
  Pipfile.lock
Due: build_arm

Integrate codecov
  .gitlab-ci.yml
Due: build_arm

See Pinger
  .gitlab-ci.yml
Due: build_arm
