Repository clambin/pimon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, pytest, build_arm, test_arm

flake8:
  stage: test
  image: python:3.7-alpine
  before_script:
  - python -m venv venv
  - source venv/bin/activate
  - pip install -U flake8
  script:
  - flake8 --max-line-length 120 *.py metric/*.py

pytest:
  stage: test
  image: python:3.7-alpine
  before_script:
  - python -m venv venv
  - source venv/bin/activate
  - pip install pipenv
  - pipenv install
  script:
  - cd tests && pytest

build_arm:
  image: docker:stable
  services:
  - docker:stable-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_CLI_EXPERIMENTAL: enabled
  tags:
  - docker
  before_script:
  ...

test_arm:
  image: docker:17.12
  services:
  - docker:17.12-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_CLI_EXPERIMENTAL: enabled
  tags:
  - docker
  - arm
  - rpi
  before_script:
  ...

Integrate codecov
  .gitlab-ci.yml
  Dockerfile
Due: build_arm, test_arm

Integrate codecov
  .gitlab-ci.yml
Due: build_arm, test_arm

Integrate codecov
  pimon.py
Due: flake8, pytest, build_arm, test_arm

unittest for get_configurarion
  Pipfile
  pimon.py
  tests/test_pimon.py
Due: flake8, pytest, build_arm, test_arm

unit test coverage
  tests/test_promreporter.py
Due: none

Sync latest metrics + tests
  metrics/probe.py
  metrics/reporter.py
  tests/probes.py
  tests/test_filereporter.py
  tests/test_probe.py
  tests/test_promreporter.py
  tests/test_reporter.py
Due: flake8, pytest, build_arm, test_arm

Sync latest metrics + tests
  .gitlab-ci.yml
Due: build_arm, test_arm

Sync latest metrics + tests
  tests/test_filereporter.py
Due: none

1.0
  version.py
Due: flake8, pytest, build_arm, test_arm

1.0
  README.md
  pimon.py
  tests/test_pimon.py
Due: flake8, pytest, build_arm, test_arm

1.0
  README.md
Due: none

1.0
  .gitlab-ci.yml
Due: build_arm, test_arm

1.0
  pimon.py
Due: flake8, pytest, build_arm, test_arm

Add OpenVPN monitoring
  pimon.py
  tests/client.status
  tests/test_openvpn.py
  tests/test_pimon.py
Due: flake8, pytest, build_arm, test_arm

Add OpenVPN monitoring
  pimon.py
Due: flake8, pytest, build_arm, test_arm

Add OpenVPN monitoring
  metrics/probe.py
  pimon.py
  tests/test_probe.py
Due: flake8, pytest, build_arm, test_arm

Add OpenVPN monitoring
  tests/test_openvpn.py
Due: none

Add OpenVPN monitoring
  tests/test_pimon.py
Due: none

Add OpenVPN monitoring
  GPIO.py
  metrics/probe.py
  pimon.py
  tests/test_pimon.py
  tests/test_promreporter.py
Due: flake8, pytest, build_arm, test_arm

Add OpenVPN monitoring
  GPIO.py
Due: flake8, pytest, build_arm, test_arm

Add OpenVPN monitoring
  pimon.py
  tests/test_pimon.py
Due: flake8, pytest, build_arm, test_arm

Add OpenVPN monitoring
  tests/test_filereporter.py
  tests/test_openvpn.py
  tests/test_pimon.py
  tests/test_probe.py
  tests/test_promreporter.py
  tests/test_reporter.py
Due: none

Add OpenVPN monitoring
  README.md
  pimon.py
  tests/test_pimon.py
Due: flake8, pytest, build_arm, test_arm

Add OpenVPN monitoring
  metrics/probe.py
  tests/test_probe.py
Due: flake8, pytest, build_arm, test_arm

R1.1
  version.py
Due: flake8, pytest, build_arm, test_arm

R1.1
  README.md
Due: none

Update README.md
  README.md
Due: none

R1.1
  Pipfile.lock
Due: none

Monitor plex/sonarr/radarr through API probes
  main.py
  metrics/probe.py
  metrics/reporter.py
  pimon.py
  pimon/GPIOstub.py
  pimon/__init__.py
  pimon/configuration.py
  pimon/cpu.py
  pimon/gpio.py
  pimon/mediacentre.py
  pimon/openvpn.py
  pimon/pimon.py
  pimon/version.py
  tests/probes.py
  tests/test_configuration.py
  tests/test_cpu.py
  tests/test_filereporter.py
  tests/test_gpio.py
  tests/test_openvpn.py
  tests/test_pimon.py
  tests/test_probe.py
  tests/test_promreporter.py
  tests/test_reporter.py
Due: flake8, pytest, build_arm, test_arm

Monitor plex/sonarr/radarr through API probes
  .gitlab-ci.yml
  Dockerfile
  pimon/cpu.py
Due: build_arm, test_arm

Monitor plex/sonarr/radarr through API probes
  Pipfile
  Pipfile.lock
Due: none

Monitor plex/sonarr/radarr through API probes
  metrics/probe.py
  tests/test_probe.py
Due: flake8, pytest, build_arm, test_arm

Monitor plex/sonarr/radarr through API probes
  metrics/probe.py
  pimon/cpu.py
  pimon/pimon.py
Due: flake8, pytest, build_arm, test_arm

Path conditions:
  flake8: any of: *.py, metrics/*.py
  pytest: any of: *.py, metrics/*.py
  build_arm: any of: *.py, metrics/*.py, Dockerfile*, .gitlab-ci.yml
  test_arm: any of: *.py, metrics/*.py, Dockerfile*, .gitlab-ci.yml
