Repository clambin/pimon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, pytest, prometheus, build_arm, test_arm

flake8:
  stage: test
  image: python:3.7
  before_script:
  - pip install pipenv
  - pipenv install --dev
  script:
  - pipenv run flake8 --max-line-length 120 *.py metric/*.py

pytest:
  stage: test
  image: python:3.7
  before_script:
  - pip install pipenv
  - pipenv install --dev
  script:
  - pipenv check
  - cd tests && pipenv run pytest --cov
  - pipenv run bash <(curl -s https://codecov.io/bash) -s tests

prometheus:
  stage: test
  image: python:3.7
  before_script:
  - pip install pipenv
  - pipenv install
  script:
  - pipenv run python pimon.py --port 8080 --stub &
  - TESTPID=$!
  - sleep 2
  - curl -s localhost:8080/metric | grep '^pimon_clockspeed '
  - curl -s localhost:8080/metric | grep '^pimon_temperature '
  - kill $TESTPID

build_arm:
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_CLI_EXPERIMENTAL: enabled
  tags:
  - docker
  - shared
  before_script:
  ...

test_arm:
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_CLI_EXPERIMENTAL: enabled
  tags:
  - docker
  - arm
  - rpi
  before_script:
  ...

move gitlab-ci to "rules:"
  .gitlab-ci.yml
Due: flake8, pytest, prometheus, build_arm, test_arm

refactor
  .gitlab-ci.yml
  Dockerfile
  docker-compose.yml
  libpimon/GPIOstub.py
  libpimon/__init__.py
  libpimon/configuration.py
  libpimon/cpu.py
  libpimon/gpio.py
  libpimon/mediacentre.py
  libpimon/openvpn.py
  libpimon/pimon.py
  libpimon/version.py
  pimon.py
  tests/test_configuration.py
  tests/test_cpu.py
  tests/test_gpio.py
  tests/test_mediacentre.py
  tests/test_openvpn.py
  tests/test_pimon.py
Due: flake8, pytest, prometheus, build_arm, test_arm

refactor
  .gitlab-ci.yml
Due: flake8, pytest, prometheus, build_arm, test_arm

don't tag a build until smoke succeeds
  .gitlab-ci.yml
Due: flake8, pytest, prometheus, build_arm, test_arm

refactor
  Dockerfile
Due: build_arm, test_arm

test
  .gitlab-ci.yml
Due: flake8, pytest, prometheus, build_arm, test_arm

Move prometheus test to QA (post-build)
  .gitlab-ci.yml
Due: flake8, pytest, prometheus, build_arm, test_arm

Move prometheus test to QA (post-build)
  .gitlab-ci.yml
  Pipfile
  Pipfile.lock
Due: flake8, pytest, prometheus, build_arm, test_arm

bandit test
  .gitlab-ci.yml
Due: flake8, pytest, prometheus, build_arm, test_arm

Upgrade to pimetrics 0.1.11
  Pipfile
  Pipfile.lock
  libpimon/cpu.py
Due: none

Upgrade to pimetrics 0.2.0
  .gitlab-ci.yml
  Pipfile
  Pipfile.lock
Due: flake8, pytest, prometheus, build_arm, test_arm

No longer need to run super().report in derived report method.
  libpimon/cpu.py
  libpimon/gpio.py
  libpimon/mediacentre.py
  libpimon/openvpn.py
Due: none

No longer need to run super().report in derived report method.
  libpimon/mediacentre.py
Due: none

Update README.md
  README.md
Due: none

badges
  README.md
Due: none

Badges
  README.md
Due: none

Added OpenVPNStatusProbe
  .gitlab-ci.yml
  README.md
  libpimon/openvpn.py
  tests/test_openvpn.py
Due: flake8, pytest, prometheus, build_arm, test_arm

Added OpenVPNStatusProbe
  Pipfile
  Pipfile.lock
Due: none

Added OpenVPNStatusProbe
  .gitlab-ci.yml
  Pipfile
  Pipfile.lock
  libpimon/configuration.py
  libpimon/openvpn.py
  libpimon/pimon.py
  tests/test_configuration.py
Due: flake8, pytest, prometheus, build_arm, test_arm

OpenVPN status monitoring
  Pipfile
  Pipfile.lock
  README.md
  libpimon/configuration.py
  libpimon/openvpn.py
  libpimon/pimon.py
Due: none

Path conditions:
  flake8: any of: *.py, metrics/*.py, tests/*.py, .gitlab-ci.yml
  pytest: any of: *.py, metrics/*.py, tests/*.py, .gitlab-ci.yml
  prometheus: any of: *.py, metrics/*.py, tests/*.py, .gitlab-ci.yml
  build_arm: any of: *.py, metrics/*.py, Dockerfile*, .gitlab-ci.yml
  test_arm: any of: *.py, metrics/*.py, Dockerfile*, .gitlab-ci.yml
