Repository clambin/pimon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, pytest, build_arm, test_arm

.gitlab-ci.yml:

stages:
  - unittest
  - build
  - qa
  - release

# Don't run for new tags
workflow:
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - when: always

.test_only:
  rules:
    - changes:
        - "*.py"
        - "libpimon/*.py"
        - "tests/*.py"

.build_only:
  rules:
    - changes:
        - "*.py"
        - "libpimon/*.py"
        - "Dockerfile*"
        - .gitlab-ci.yml

.docker:
  image: docker:stable
  services:
    - docker:stable-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: "/certs"
    DOCKER_CERT_PATH: "/certs/client"
    DOCKER_CLI_EXPERIMENTAL: enabled
  tags:
    - docker
    - shared
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
    - export CI_PROJECT_PATH=$(echo $CI_PROJECT_PATH | tr "[:upper:]" "[:lower:]")

.docker_arm:
  extends: .docker
  tags:
    - docker
    - arm
    - rpi

flake8:
  stage: unittest
  extends: .test_only
  image: python:3.7
  before_script:
    - pip install pipenv
    - pipenv install --dev
  script:
    - pipenv run flake8 --max-line-length 120 *.py libpimon/*.py

pytest:
  stage: unittest
  extends: .test_only
  image: python:3.7
  variables:
    # workaround for https://github.com/pypa/pipenv/issues/4188
    PIPENV_PYUP_API_KEY: ""
  before_script:
    - pip install pipenv
    - pipenv install --dev
  script:
    - pipenv check
    - cd tests && pipenv run pytest --cov --junitxml=report.xml
    - pipenv run bash <(curl -s https://codecov.io/bash) -s tests
  artifacts:
    reports:
      junit: tests/report.xml

build_arm:
  stage: build
  extends:
    - .docker
    - .build_only
  script:
    - docker run --rm --privileged multiarch/qemu-user-static:register --reset
    - docker pull $CI_PROJECT_PATH:build || true
    - docker build --cache-from $CI_PROJECT_PATH:build --pull -t $CI_PROJECT_PATH:build .
    - docker push $CI_PROJECT_PATH:build

test_arm:
  stage : qa
  extends:
    - .docker_arm
    - .build_only
  script:
    - apk add --update curl
    - docker pull $CI_PROJECT_PATH:build
    - docker run -v $(pwd)/tests:/app/tests -p 8080:8080 --name pimon --rm -d $CI_PROJECT_PATH:build --debug --monitor-fan=False
    - sleep 5
    - curl -s docker:8080/metric | grep '^pimon_clockspeed '
    - curl -s docker:8080/metric | grep '^pimon_temperature '
    - docker stop pimon


publish_nonmaster:
  stage: release
  extends: .docker
  rules:
    - if: $CI_COMMIT_BRANCH != "master"
  script:
    - docker tag $CI_PROJECT_PATH:build $CI_PROJECT_PATH:$CI_COMMIT_BRANCH
    - docker push $CI_PROJECT_PATH:$CI_COMMIT_BRANCH

publish_master:
  stage: release
  extends: .docker
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
  script:
    - VERSION=$(grep -i ^version libpimon/version.py | awk '{ print $3 }' | tr -d \');
    - docker tag $CI_PROJECT_PATH:build $CI_PROJECT_PATH:$VERSION
    - docker push $CI_PROJECT_PATH:$VERSION
    - docker tag $CI_PROJECT_PATH:build $CI_PROJECT_PATH:latest
    - docker push $CI_PROJECT_PATH:latest

github:
  stage: release
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
  before_script:
    - VERSION=$(grep -i ^version libpimon/version.py | awk '{ print $3 }' | tr -d \');
  script:
    - git remote set-url origin "https://$GITHUB_USER:$GITHUB_TOKEN@github.com/$CI_PROJECT_PATH.git"
    - git tag $VERSION
    - git push --tags

OpenVPN status monitoring
  libpimon/pimon.py
  tests/test_openvpn.py
  tests/test_pimon.py
Due: flake8, pytest, build_arm, test_arm

OpenVPN status monitoring
  libpimon/pimon.py
Due: flake8, pytest, build_arm, test_arm

Build rpi.gpio in separate docker image
  Dockerfile
Due: build_arm, test_arm

Build rpi.gpio in separate docker image
  libpimon/version.py
Due: flake8, pytest, build_arm, test_arm

v1.4
  README.md
  libpimon/version.py
Due: flake8, pytest, build_arm, test_arm

move to Python 3.8
  .gitlab-ci.yml
  Dockerfile
  Pipfile
  Pipfile.lock
Due: build_arm, test_arm

move to Python 3.8
  .gitlab-ci.yml
  Dockerfile
  docker-compose.yml
  pimon.py
  src/GPIOstub.py
  src/__init__.py
  src/configuration.py
  src/cpu.py
  src/gpio.py
  src/mediacentre.py
  src/openvpn.py
  src/pimon.py
  src/version.py
  tests/test_configuration.py
  tests/test_cpu.py
  tests/test_gpio.py
  tests/test_mediacentre.py
  tests/test_openvpn.py
  tests/test_pimon.py
Due: flake8, pytest, build_arm, test_arm

Support token for ipconfig.io
  src/configuration.py
  src/openvpn.py
  src/pimon.py
  tests/test_configuration.py
  tests/test_pimon.py
Due: flake8, pytest

Support token for ipconfig.io
  src/pimon.py
Due: none

Support token for ipconfig.io
  Pipfile
  Pipfile.lock
Due: none

Support token for ipconfig.io
  src/cpu.py
  src/pimon.py
  tests/test_cpu.py
Due: flake8, pytest

gitlab-ci
  .gitlab-ci.yml
Due: build_arm, test_arm

move non-RPI monitors to separate containers
  src/configuration.py
  src/mediacentre.py
  src/openvpn.py
  src/pimon.py
  tests/test_configuration.py
  tests/test_cpu.py
  tests/test_mediacentre.py
  tests/test_openvpn.py
  tests/test_pimon.py
Due: flake8, pytest

move non-RPI monitors to separate containers
  .gitlab-ci.yml
  src/configuration.py
Due: build_arm, test_arm

move non-RPI monitors to separate containers
  .gitlab-ci.yml
Due: build_arm, test_arm
